.ruby {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.column {
    width: 50%;
}

.left {
    position: absolute;
    right: 50%
}

.right {
    position: absolute;
    left: 50%;
}

.drop {
    position: relative;
    top: 50px;
}

.dropx2 {
    position: relative;
    top: 100px;
}